.container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 20px; 
}
.item {
    background-color: green;
    font-size: 2rem;
}

.number_position{
    background-color: lightgreen;
    width: 20px;
    position: relative;
    top: 66px;
    left: 80px;
}